<% if user_signed_in? %>
  <%= form_for(@petition) do |f| %>
    <% if @petition.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@petition.errors.count, "error") %> prohibited this petition from being saved:</h2>

        <ul>
        <% @petition.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <%= f.hidden_field 'user_id', value: current_user.id %>
  
   <div class="field">
      <%= f.label :titlu %><br>
      <%= f.text_field :titlu %>
    </div>

    
    <div class="field">
      <%= f.label :continut %><br>
      <%= f.text_field :continut %>
    </div>

   <div class="actions">
      <%= f.submit "Creează petiția!" %>
    </div>
  <% end %>
<%else%>
  <div>Nu esti logat!<div>
<%end%>
