<p id="notice"><%= notice %></p>

<p>
  <strong>Titlu:</strong>
  <%= @petition.titlu %>
</p>


<% @post.tag_list.any? %>
  <% @post.tag_list.each do |tag| %>
  <%= link_to tag.name, tagged_url(:tag => tag.name) %>
<% end %>

<p>
  <strong>Continut:</strong>
  <%= @petition.continut %>
</p>

<p>
  <strong>User:</strong>
  <%= @petition.user_id %>
</p>

<%= link_to 'Edit', edit_petition_path(@petition) %> |
<%= link_to 'Back', petitions_path %>
