<h1>Listing petities</h1>

<table>
  <thead>
    <tr>
      <th>Titlu</th>
      <th>Continut</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @petities.each do |petity| %>
      <tr>
        <td><%= petity.titlu %></td>
        <td><%= petity.continut %></td>
        <td><%= petity.user_id %></td>
        <td><%= link_to 'Show', petity %></td>
        <td><%= link_to 'Edit', edit_petity_path(petity) %></td>
        <td><%= link_to 'Destroy', petity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Petitie', new_petity_path %>
